.no-scroll {
    overflow: hidden;
}

.page-splash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}


.d-flex {
    padding: 20px;
    border-bottom: 1px solid #ccc;

}

.main {
    border: 1px solid #ccc;
}

hr {
    border: none;
}

.post-2 {
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
}

.none {
    display: none;
}

.change {
    margin-left: 100px;
}
.comment-from.none {
    display: none;
}
